.Login form{
    max-width: 320px;
    margin: 0 auto;
}

.login-container{
    width: 380px !important;
    margin-top: 2rem;
    background: #FFFFFF;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
}

.login-container h2 {
    border-bottom: 0.6rem solid #5CB3CC;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}